* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.wrapper {
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.checkbox .trace {
    width: 90px;
    height: 8px;
    background-color: blueviolet;      /*Cor da linha*/
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}